.statistics {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border: 1px solid rgb(236, 236, 236);
}
.title {
  font-size: 30px;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgb(154, 147, 213);
}
.statList {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}
