.item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: calc(300px / 5);
  text-align: center;
  color: #fff;
}
.label {
  font-size: 13px;
}
.percentage {
  font-size: 20px;
  font-weight: 700;
}
